@using INFINITE.CORE.MVC.Views.Shared.Components.NavbarArea;
@using INFINITE.CORE.MVC.Views.Shared.Components.SidebarArea;
@inject INFINITE.CORE.MVC.Helper.CoreHelper CoreHelper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.CurrentPageName - INFINITE.CORE.MVC</title>
    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/logo.png" alt="LOGO">
        </div>

        @await Component.InvokeAsync(typeof(NavbarAreaViewComponent))
        @await Component.InvokeAsync(typeof(SidebarAreaViewComponent))
        

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
       
        <!-- /.content-wrapper -->
        @await Html.PartialAsync("_Footer.cshtml")

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <script>
        const APIBaseURL = '@CoreHelper.APIURL';
        const APIVersion = '@CoreHelper.APIVERSION';
        const CookieName = '@CoreHelper.ISSUER';
    </script>
    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
