@inject INFINITE.CORE.MVC.Helper.CoreHelper CoreHelper
@{
    Layout = null;

    var pageTitle = !string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " / " : "";
    pageTitle += "Infinite.Core";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@pageTitle</title>

    @await Html.PartialAsync("_Styles.cshtml")
    @RenderSection("styles", required: false)
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/">
                <img src="~/img/logo.png" style="width:100px" />
            </a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <small>&copy; @DateTime.Now.Year @pageTitle. <b>Version </b> @CoreHelper.APPVERSION </small>
            </div>
        </div>
    </div>
    <script>
        const APIBaseURL = '@CoreHelper.APIURL';
        const APIVersion = '@CoreHelper.APIVERSION';
    </script>
    @await Html.PartialAsync("_Scripts.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>
